:host {
  all: initial;
  color: var(--text-primary) !important;
  color-scheme: inherit !important;
  font-family: var(--font-primary) !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
  visibility: visible !important;
}

button,
summary,
a,
div,
section,
aside,
header,
dl,
dt,
dd,
p,
h2,
h3,
small,
strong {
  box-sizing: border-box;
  color: inherit;
}

button,
summary,
a {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
